/*!
 * CV created by Javier Prada (https://github.com/javiprada1)
 * Subject - Interface Design - 2º Web Dev Apps - Nuevas Profesiones (https://www.fpnuevasprofesiones.es/)
 * October 2018
 */
body {
	font-family: Muli;
}


#head{
	margin:2%;
	
}

div#botonera {
    margin-top: 2%;
}

#education .w3-cell-row.w3-margin-top {
    text-align: center;
}


#education .w3-container {
    width: 33.3%;
}


#text {
	border: 1px solid black;
	border-radius: 4px;
	width:64%;
	margin: 0 auto;
	padding: 2%;
	overflow: hidden;
}

#text #title, #text #subtitle {
	text-align: center;
}

#text #title {
	font-size: 56px;
	font-weight: bold;
}

#text #subtitle {
	font-size: 32px;
}

#head #text #image{
  top: 15px;
  left: 15px;
  right: 0;
  width: 20%;
  float:left;

}

.continue {
    margin-top: 2%;
    text-align: center;
    font-size: 35px;
}

#dev, #teacher, #google-xperience, #contact{
	
	margin-top: 2%;	
	
}

#dev div, #teacher div, #google-xperience div, #contact div{
	
	margin-top: 2%;
	overflow: hidden;
}

.title{
	font-size: -webkit-xxx-large;
	
}


.w3-third.w3-container.anyo {
    width: 10%;
}

.w3-third.w3-container.image {
    width: 55%;
}

.w3-third.w3-container.text {
    width: 35%;
}


.w3-third.w3-container.image img {
    width: 100%;
    
}

.w3-third.w3-container.image.dos img {
    width: 45%;
}


#footer{
	text-align: center;
	margin-top: 2%;	
}